
/*.seccion_banner{
    
    margin-top: 30px;
}
.img{
    width: 100%;
    height: 83.2%;
    position: absolute;
    
   
}


.siguiente i {
    font-size: 100px;
    color: rgb(8, 8, 8);
    position: relative;
    float: right;
    width: 100%;
    
  
}
.siguiente  {
    position: relative;
    float: right;
    top: 20em;
    z-index: 1;
    
}


.anterior i {
    position: relative;
    font-size: 100px;
    color:rgb(8, 8, 8);
    top: 3.2em;
}


@media (max-width:1400px){
    .seccion_banner{
        background-color: red;
        margin-top: 30px;
    }
    .img{
        width: 100%;
        position: absolute;
       
    }
    
    
    .siguiente i {
        font-size: 50px;
        color: rgb(8, 8, 8);
        position: relative;
        float: right;
        width: 100%;
        top: 1.2em;
        
        
      
    }
    .siguiente  {
        position: relative;
        float: right;
        top: 12em;
        z-index: 1;
        
    }
    
    
    .anterior i {
        position: relative;
        font-size: 50px;
        color:rgb(8, 8, 8);
        top: 5em;
        
    }
}*/
body{
    margin: 0;
    padding: 0;
}
.seccion_zapatillas{
    width: 100%;
    height: 100vh;
    background: url('https://fondosmil.com/fondo/87609.jpg') no-repeat; 
    background-image: no-repeat;
    background-size: 100% 100%;
    position: relative;
    
    z-index: 2;
    display: flex;
    justify-content: space-around;
    
    
}
.zapatillas_mujeres{
    min-width: 140px;
    height: 250px;
    
    margin: 7px;
    padding: 10px;
    padding-bottom: 35px;
    flex:0;
    font-family:Georgia, 'Times New Roman', Times, serif;

    
    
    
}
.zapatillas_mujeres:hover{
    border-radius: 10px 10px 10px 10px;
   
    color: red;
    position: static;
    background: rgb(194, 189, 189);
}
.zapatillas_mujeres a{
    text-decoration: none;
}
.z-m{
    
   font-size: 15px;
   position: relative;
   color: #000;
   
   top: 5px;
    
}
.div_container{
    width: 944px;
    height: 544px ;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin-left: 200px;
    margin-right: 200px;
   
    top: 70px;
    position: relative;
    z-index: 1;
    
}
.div_container  div  img{
    width: 130px;
    height: 120px;
    position: relative;
    left: -5px;
    
    
}
.precio{
    margin-top: 5px;
    color: red;
}





